
body{
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div{
    display:flex;
}

#container{
    width: 1200px;
    display:flex;
    flex-direction: column;
}

#header{
    background: red;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 0;
   margin-top:0;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.images{
    width: 760px;
    height: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   margin-top: 40px;
   
}

.image{
    height: 180px;
    width: 190px;
    background: rgb(231, 70, 70);
    transition: transform .2s; /* Animation */
}

.photo{
 width: 100%;
 height: 100%;
}

.approx:hover{
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.increace{
    flex-direction: column;
    align-items: center;
}
.increace:hover {
    transform: scale(1.2);
}

.icon{
    width: 30px;
    height: 30px;
   padding-top: 45px;
   margin-bottom:10px;
   
}

.photo1 {
    object-fit: cover;
    overflow: hidden;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; color: white;
    font-size: 18px; 
    margin-bottom: 0;
    margin-top: 4px;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; color: white;
    font-size: 12px;
    margin-top: 0;
}

#content{
    background: rgb(46, 144, 209);
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .circle {
        text-align: center;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
      
    .circle:after {
        text-align: center;
        vertical-align: middle;
        content: '';
        display: inline-block;
        margin-top: 8px;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .triangle{
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom:35px solid white;

    }

    .close {
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-left: 830px;
        transform: translate(-120px,-365px);
    }

    .close:active{
        opacity: 0.6;
    }
    
.forms-area{
    background: white;
    width: 600px;
    height: 350px;
    border-radius: 1%;
    flex-direction: column;
    justify-content: center;
}

.description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    width:510px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   margin-top: 0;
}

.form{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
}

.forms{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(214, 5, 5);
    color: white;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 3%;
}

.submit:active{
    opacity: 0.6;
}

#info{
    background: rgb(48, 43, 43);
    height: 400px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textinfo{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.link{
width: 40px;
height: 40px;
border: 1px solid  rgb(87, 86, 86);
display:inline-block;
vertical-align: top;
margin-right: 15px;
border-radius: 5%;
}

.icon2{
    width: 15px;
    height: auto;
    margin-top: 13px;

}

.facebook{
height: 16px;
width: 9px;
}

.link:hover{
    border-color: red;
}

.subscribe-text{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}

.email{
    background: rgb(87, 86, 86);
    width: 500px;
    height: 35px;
    margin-top: 30px;
    padding-left: 30px;
}

.subscribe{
    border: solid 1px rgb(87, 86, 86);
    background: none;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    color: white;
}
.subscribe:active{
    opacity: 0.6;
}

#footers{
    background: rgb(87, 86, 86);
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(179, 179, 179);  
    font-size: 15px;
    padding-top: 15px;
}
input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
  }
 input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }
  